@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: black;
	background: #f6ecea;
}

.navbar {
	display: flex;
	justify-content: space-around;
}

.navbarleft {
	display: flex;
	justify-content: space-around;
}

.navbarleftli {
	margin: 0 10px;
}
.navbarright {
	display: flex;
	justify-content: space-around;
}

.navbarrightli {
	margin: 0 10px;
}

Header {
	border-bottom: solid 4px black;
	padding: 20px;
}

.containerHome {
	margin: 20px;
}

footer {
	border-top: solid 4px black;
	padding: 20px;
}

.notContainer {
	text-align: center;
	padding: 10em;
}
